:root {
    --primeira-cor: aquamarine;
    --segunda-cor: rgb(206, 255, 239);
    --terceira-cor: rgb(172, 127, 255);
    --quarta-cor: rgb(88, 86, 86);
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;

    width: calc(100vw - 32px);
    height: 120px;

    margin: 16px 16px;

    align-items: center;
    justify-content: space-between;
}

.avatar {
    display: flex;
    width: 120px;
    height: 120px;

    align-items: center;
    justify-content: center;

    background-color: var(--primeira-cor);
}

.avatar__img {
    width: 110px;
    height: 110px;
}

.avatar,
.avatar__img {
    border-radius: 50%;
}

nav {
    display: flex;
    width: max-content;
    height: 120px;

    align-items: center;
    justify-content: space-around;

    background-color: var(--primeira-cor);

    border-radius: 8px 32px;
}

.nav__links {
    background-color: var(--segunda-cor);
    padding: 8px 16px;
    margin: 0 16px;
    
    border-radius: 8px;

    color: var(--terceira-cor);

    font-size: 32px;
    font-weight: bold;
}

.nav__links:hover {
    cursor: pointer;
}

main {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: auto auto;

    place-items: center;
    gap: 16px;
}

.main__banner {
    width: 100%;
    height: 120px;

    background-color: rgb(179, 179, 179);
}

.main__banner,
.main__banner-img {
    border-radius: 32px;
}

.main__conteudo {
    text-align: justify;
    size: 32px;
    color: var(--quarta-cor);
}

footer {
    display: flex;
    width: 100%;
    height: 120px;

    align-items: center;
    justify-content: center;

    background-color: var(--primeira-cor);
    color: var(--quarta-cor);

    size: 32px;
    font-weight: bold;
}